<div>
  <input type="text" [(ngModel)]="initialData.name">
  <label class="custom-file-upload">
      <input type="file" (change)="uploadFile($event.target)">
    Upload JSON
  </label>
  
  <button (click)="saveTemplateFile()">Download Template</button>
  
</div>

<div>
  <strong style="margin-right: 4px">Pullbacks:</strong>
  <input type="number" [value]="numPullbacks" (input)="setNumPullbacks($event.target.value)"
    style="max-width: 40px; margin-right: 4px">
  <button (click)="pullBack()">Pull Back</button>
  <button (click)="mapForward()">Map Forward</button>
  <button (click)="saveSvg()">Export SVG</button>
</div>

<div>
  <strong style="margin-right: 4px">Preview Size:</strong>
  <input type="number" [(ngModel)]="renderSettings.size"
    style="max-width: 60px; margin-right: 4px">
  <button (click)="initLamination()">Refresh</button>
  <button (click)="saveSvg()">Export SVG</button>
</div>

<br/>

<app-lamination-viewer [laminationState]="laminationState" [settings]="renderSettings"></app-lamination-viewer>

<a href="https://github.com/csfalcione/lamination-builder/" target="_blank">Source and Documentation</a>
