
<canvas #laminationCanvas [width]="settings.size" [height]="settings.size"
  style="background-color: rgb(219, 219, 219)">
  Your browser apparently doesn't support HTML5 canvases. Please use
  a recent version of Chrome, Firefox, Microsoft Edge, or Safari.
</canvas>

<br/>

<em *ngIf="showIntersectionLoader">checking for intersections...</em>
<div *ngIf="intersections.length > 0">
  <h3>Intersections:</h3>
  <pre class="pointList">{{prettyPrintIntersections(intersections)}}</pre>
</div>

<h3>Leaves:</h3>
<pre class="pointList">{{prettyPrintLamination(laminationState.lamination)}}</pre>